body {
  width: 600px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  margin-top: 10px;
  background-color: #f0d9b5;
  border: 1px solid #b58863;
  position: relative;
  width: 500px;
  height: 500px;
}

#stackContainer {
  display:flex;
}

.stack {
  margin: 10px;
  position: relative;
  width: 150px;
  height: 150px;
  border: 2px solid #b58863;
  background-color: #f0d9b5;
  border-radius: 10%;
}
/*
  ************* SQUARES
 */
square {
  position: absolute;
  width: 25%;
  height: 25%;
  border: 1px solid #b58863;
}

square.drop-hover:empty {
  background-color: #e5be80;
}
/*
  ************* PAWNS
 */
pawn {
  /*margin: 2%;*/
  box-shadow: 2px 2px 4px #888;
  position: absolute;
  border-radius: 50%;
  border-color: transparent;
  bottom: 0;
  left: 0;
  width: 120px;
  height:120px;
}

pawn.ui-draggable-dragging {
  box-shadow: 5px 5px 10px #888;
}

.white {
  color: white;
  background-color: white;
}
.black {
  color: black;
  background-color: black;
}
